<div   style="background-color: #d9d9d9;">
<div class="d-flex flex-column flex-shrink-0 bg-light " style="width: 3.0rem;">
  <div>
    <div style="height:180px;background-color:#d9d9d9;margin-down:0px;">
    </div>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" style="background-color:#ccdcff;">
      <li class="navhover">
        <a href="/home" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
          <i class="fa fa-home" style="color:black"></i>
        </a>
      </li>
      <li class="navhover">
        <a href="/room" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
          <i class="fa fa-video"style="color:black"></i>
        </a>
      </li>
    </ul>
    <div class="navhover dropdown border-top" style="background-color:#ccdcff;">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-user"></i>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li class="navhove"><a class="dropdown-item" href="/home">Profile</a></li>
        <li class="navhove"><a class="dropdown-item" href="/logout">Sign out</a></li>
      </ul>
    </div>
    </div>
  </div>
  </div>
